.orderItem {
  display: flex;
  margin-bottom: 30px;
}

.orderItem__cover {
  width: 200px;
  margin-right: 30px;
}

.orderItem__title {
  font-size: 24px;
  font-weight: bold;
}

.orderItem__price {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}
.cartItem__delete_icon{
  cursor: pointer;
}