.cartItem {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItem__price {
    display: flex;
    align-items: center;
}

.cartItem__delete_icon {
    margin-left: 5px;
    cursor: pointer;
}